Options -Indexes -ExecCGI

<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>

<FilesMatch "\.(?i:php|phtml|php\d|phar|pl|py|cgi|sh)$">
    Require all denied
</FilesMatch>
